<section class="col-12" style="position: relative; min-height:65vh;
         background-image:url('../assets/images/walking-backpack.png');
         background-position:center;
         background-size:cover;">

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner-content">
          <h1 class="mt-0 text-white font-weight-bold text-md-200">Réservez des lieux <br class="d-block d-md-none"> de
            séjour et <br class="d-none d-lg-block"> des<br class="d-block d-md-none"> activités uniques.</h1>
        </div>
      </div>


    </div>
  </div>

</section>



