<section class="bg-animated" style="position: relative; height:60vh;">

  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 p-0 d-flex align-items-center">

        <h1 class="mt-0 text-white font-weight-bold text-md-200">Réservez des lieux <br class="d-block"> de
          séjour et des <br class="d-lg-block"> activités uniques.</h1>

      </div>

      <div class="col-md-6 p-0 d-flex align-items-center">
        <div class="card w-100 rounded-xl">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Destination</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter first name">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Type d'habitat</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter city">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Personnes</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter state">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Date d'entrée</label>
                    <div class="input-group">
                      <input class="form-control"
                             placeholder="yyyy-mm-dd"
                             name="dp"
                             ngbDatepicker
                             [(ngModel)]="selectedDate"
                             [minDate]="minDate"
                             #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-light btn-icon calendar" type="button" (click)="d.toggle()" type="button">
                          <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Date de sortie</label>
                    <div class="input-group">
                      <input class="form-control"
                             placeholder="yyyy-mm-dd"
                             name="dp2"
                             [(ngModel)]="selectedDate2"
                             ngbDatepicker
                             #d2="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-light btn-icon calendar" type="button"  (click)="d2.toggle()">
                          <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
            </form>
            <button type="button" class="btn btn-primary submit">Rechercher</button>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>
<pre>Model: {{ selectedDate | json }}</pre>
<pre>Model2: {{ selectedDate2 | json }}</pre>



