<section class="bg-animated" style="position: relative; height:60vh;">

  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 p-0 d-flex align-items-center">

        <h1 class="mt-0 text-white font-weight-bold text-md-200">Réservez des lieux <br class="d-block"> de
          séjour et des <br class="d-lg-block"> activités uniques.</h1>

      </div>

      <div class="col-md-6 p-0 d-flex align-items-center">
        <div class="card w-100 rounded-xl">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Destination</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter first name">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Type d'habitat</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter city">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Personnes</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter state">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group hidden">
                    <div class="input-group">
                      <input name="datepicker" style="opacity: 0;"
                             class="form-control"
                             ngbDatepicker
                             #datepicker="ngbDatepicker"
                             [autoClose]="'outside'"
                             (dateSelect)="onDateSelection($event)"
                             [displayMonths]="2"
                             [dayTemplate]="t"
                             outsideDays="hidden"
                             [startDate]="fromDate!"
                             tabindex="-1">
                      <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Type d'habitat</label>

                    <div class="input-group">
                      <input #dpFromDate
                             class="form-control" placeholder="yyyy-mm-dd"
                             name="dpFromDate"
                             [value]="formatter.format(fromDate)"
                             (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                      <div class="input-group-append">
                        <button class="btn btn-icon btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                          <i data-feather="calendar" appFeatherIcon></i>
                        </button>
                      </div>
                    </div>
                  </div>


                </div><!-- Col -->

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Type d'habitat</label>

                    <div class="input-group">
                      <input #dpToDate
                             class="form-control" placeholder="yyyy-mm-dd"
                             name="dpToDate"
                             [value]="formatter.format(toDate)"
                             (input)="toDate = validateInput(toDate, dpToDate.value)">
                      <div class="input-group-append">
                        <button class="btn btn-icon btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                          <i data-feather="calendar" appFeatherIcon></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div><!-- Col -->

              </div><!-- Row -->
            </form>
            <button type="button" class="btn btn-primary submit">Rechercher</button>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>

<pre>From date model: {{ formatter.format(fromDate) | json }}</pre>
<pre>To date model: {{ formatter.format(toDate) | json }}</pre>




