@each $color, $value in $social-colors {
  .bg-#{$color} {
    background: social-color($color);
  }
}

@each $color, $value in $theme-gradient-colors {
  .bg-gradient-#{$color} {
    background: $value;
  }
}

.bg-animated {
  background: linear-gradient(-45deg, #d06900, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
